{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h1>Listagem de usuarios</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>preco</th>
            <th>link</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.id_usuario}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.preco}}</td>
            <td>{{usuario.link}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
